/* PRODUCT CARD */

.c-product-card {
  width: 45rem;
  display: flex;

  &__image-wrapper {
    margin-right: 1.6rem;
    display: flex;
    align-items: flex-start;

    img {
      object-fit: contain;
    }
  }

  &__product-name {
    font-size: 2.4rem;
    font-family: $font-family-bold;
    color: var(--primary-color);
    border-bottom: 0.1rem solid var(--secondary-color);
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
  }

  &__price {
    font-size: 2.4rem;
    font-family: $font-family-bold;
    color: var(--primary-color);
    margin-bottom: 1.2rem;
  }

  &__title {
    font-family: $font-family-bold;
    color: var(--primary-color);
    margin-bottom: 0.5rem;

    span {
      font-family: $font-family-regular;
    }
  }

  &__options {
    display: flex;
    align-items: center;
    margin: 2.4rem 0;

    button {
      margin-right: 1.6rem;
    }
  }

  &__buy-button {
    display: flex;

    button {
      width: 20rem;
    }
  }

  &__error {
    margin: 1.6rem 0;
    color: var(--error-color);
  }
}