/* FONTS */

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../../fonts/OpenSans-Bold.eot") format('eot');
  src: url("../../fonts/OpenSans-Bold.woff") format("woff");
  src: url("../../fonts/OpenSans-Bold.woff2") format("woff2");
  src: url("../../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../../fonts/OpenSans-SemiBold.eot") format('eot');
  src: url("../../fonts/OpenSans-SemiBold.woff") format("woff");
  src: url("../../fonts/OpenSans-SemiBold.woff2") format("woff2");
  src: url("../../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../../fonts/OpenSans-Regular.eot") format('eot');
  src: url("../../fonts/OpenSans-Regular.woff") format("woff");
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2");
  src: url("../../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../../fonts/OpenSans-Light.eot") format('eot');
  src: url("../../fonts/OpenSans-Light.woff") format("woff");
  src: url("../../fonts/OpenSans-Light.woff2") format("woff2");
  src: url("../../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}